* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$White: #ffffff;
$MainBrand : #5b2ca2;
$PearlBush: #e9dedc;
$Perfume : #bda2f3;
$Mamba: #929295;
$Chalky: #f0caa1;
$OuterSpace: #282d2c;

body {
    font-family: 'Source Serif 4', serif;
}