* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$White: #ffffff;
$MainBrand : #5b2ca2;
$PearlBush: #e9dedc;
$Perfume: #bda2f3;
$Atoll: #0a5e6c;
$Mamba: #929295;
$Chalky: #f0caa1;
$OuterSpace: #282d2c;
$btnInvert: #f0edf5;
$TobaccoBrown: #6a5243;
$NewBlue: #3698DB;

body {
    font-family: 'Ubuntu', sans-serif;
}